@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4">Most Common Bank of Australia</h1>
    
    <div class="text-center">
        <img src="~/img/bank-image.jpg" alt="bank" style="width: 200px; height: auto;" />
    </div>
</div>

<hr />

<h3>About Us</h3>

<p>
    <a asp-controller="Login" asp-action="Login">Login link using Tag Helper</a>
</p>
