@{
    ViewData["Title"] = "Home";
}

<div style="position: relative; width: 100%; height: 0; padding-top: 25.0000%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;" src="https://www.canva.com/design/DAF7Lg8RzWE/watch?embed"></iframe>
</div>

<h3>About Us</h3>
<p>
    Most Common Bank of Australia (MCBA) is committed to providing the safest and best banking services in Australia. With a focus on customer satisfaction and innovation, we strive to meet the diverse financial needs of our clients while maintaining the highest standards of security and reliability.
</p>
<p>
    Our extensive range of products and services includes personal banking, business solutions, investment opportunities, and much more. At MCBA, we prioritize the financial well-being and success of our customers, offering tailored solutions and expert guidance to help them achieve their goals.
</p>
<p>
    Experience the convenience, security, and excellence that MCBA has to offer. Whether you're managing your finances, planning for the future, or growing your business, we're here to support you every step of the way.
</p>
<p>
    Get started today by <a asp-controller="Login" asp-action="Login">logging in to your account</a> Join MCBA, where your financial success is our priority.
</p>
