@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Most Common Bank of Australia</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<h3>Example links</h3>

<p>
    <a asp-controller="Login" asp-action="Login">Login link using Tag Helper</a>
</p>
<p>
    @Html.ActionLink("Login link using Html Helper", "Login", "Login")
</p>
